# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build artifacts
dist/
build/
www/

# Capacitor
ios/
android/

# Apple
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
